<footer>
  <div class="flex-container-footer">
    <div class="flex-footer-text">
      Разработка сайта:
      <a href="https://vk.com/artemka911t" class="href">Artemka</a>
    </div>
  </div>
</footer>