<header>
  <div class="px-3 py-2 bg-dark text-white header">
    <div class="container">
      <div class="nav">
        <div class="logo">
          <picture>   
            <source media="(min-width: 2260px) and (orientation: landscape)" srcset="https://cdn-icons-png.flaticon.com/128/3209/3209265.png"> 
            <source media="(max-height: 446px) and (orientation: landscape)" srcset="https://cdn-icons-png.flaticon.com/32/3209/3209265.png"> 
            <source media="(min-width: 275px)" srcset="https://cdn-icons-png.flaticon.com/64/3209/3209265.png"> 
            <img src="https://cdn-icons-png.flaticon.com/64/3209/3209265.png" alt="notes-image"> 
          </picture>
          <div class="main-text">
            <div class="text">
              <i><b>Notes</b> </i> 
            </div>
          </div>
        </div>

        <div class="hrefs">
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center text-small gap">
            <li>
              <a href="/" class="nav-link text-white href">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                <b>All notes</b> 
              </a>
            </li>
            <li>
              <a href="add-note" class="nav-link text-white href">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                <b>New note</b> 
              </a>
            </li>
            <li>
              <a href="about" class="nav-link text-white href">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                <b>About</b> 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>