<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end"  >
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <picture>   
              <source media="(min-width: 1600px)" srcset="https://cdn-icons-png.flaticon.com/128/3209/3209265.png"> 
              <source media="(min-width: 768px) and (orientation: portrait)" srcset="https://cdn-icons-png.flaticon.com/128/3209/3209265.png"> 
              <source media="(min-width: 275px)" srcset="https://cdn-icons-png.flaticon.com/64/3209/3209265.png"> 
              <source media="(max-width: 275px)" srcset="https://cdn-icons-png.flaticon.com/32/3209/3209265.png"> 
              <img src="https://cdn-icons-png.flaticon.com/32/3209/3209265.png" alt="notes-image"> 
            </picture>
            Notes
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
              Notes
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
              New note
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
              About
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>