<!DOCTYPE html>
<html lang="en">
<head>
  <%-include ('./partials/head.ejs') %>
</head>
<body>
  <div class="error">
    <h1 class="error-code">404</h1>
    <p class="error-p">Something going wrong...</p>
  </div>  
</body>
</html>