
*{
  font-family: "Montserrat", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 166px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  
}

.dark-main{
    background: black;
}

/* HEADER */
.container{
  display: flex;
  flex-direction: row;
  height: 130px;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  position: sticky;
}

.logo{
  width: 64px;
  height: 64px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-right: 5%;
}

.main-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFA1;
}

.text{
  text-align: center;
}

.header{
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

header{
  height: 20%;
}

.hrefs > ul > li{
  position: relative;
  top: 12px;
}

.hrefs{
  margin-top: -8%;
}
/* HEADER */

/* FOOTER */

footer{
  position: fixed;
  left: 0;
  bottom: 0; 
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: #212529;
  margin-top: 100px;
}

.flex-container-footer{
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.flex-footer-text{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 12px;
  justify-content: center;
  align-items: center;
  color:white;
}

.flex-container-footer > .flex-footer-text > a{
  text-decoration: none;
  color: white;
  width: -30px;
  color: #FFFFA1;
}

main > ul > li > a{
  text-decoration: none;
  color: #fff;
}

.href:hover, main > ul > li > a:hover,
.delete > a:hover {
  transform: scale(1.08);
}

.href > b:hover, .flex-footer-text > a:hover,
main > ul > li >  a:hover, .delete > a:hover{
  color:#fff;
}

.flex-footer-text > a:visited{
  color: gray;
}

/* FOOTER */


/* NOTE */

.flex-note > .title{
  padding-left: 10px;
  padding-top: 5px;
  word-wrap:break-word;
  align-self: start;
  text-transform: uppercase;
}

/* NOTE */

.note{
  width: 100%;
  background-color: black;
  margin-top: -20%; 
  min-height: 100%;

}

.flex-note > h3{
  text-transform: uppercase;
}

.flex-note{
  margin: 25px 25px 15px 25px;
  border: 4px solid #ffff42;
  border-radius: 15px;
  padding: 15px;
  color:#fff;
  background-color: #212529;
  display: block;
  word-wrap: break-word;
}


/* MAIN */

main{
  width: 100%;
  background-color: black;
  margin-top: -20%; 
  min-height: 100%;
  display: flex;
  justify-content: center;
}

main > ul {
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main > ul > li {
  list-style: none;
  margin: 25px 25px 15px 25px;
  border: 4px solid #ffff42;
  border-radius: 15px;
  padding: 15px;
  background-color: #212529;
}

main > ul > li > article > p{
  color: white;
}

.b{
  text-transform: uppercase;
}

main > article{
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: repeat(1fr);
}

article{
  display: flex;
  flex-direction: column;
  gap: -100px;
}

.fa-solid{
  padding: 0;
  text-decoration: none;
  color: #fff;
}

.delete > .b{
  text-decoration: none;
  color:#fff;
}

.delete > button, .delete > .btn-edit{
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 48px;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  margin-left: 100%;
  bottom: 30px;
  margin-bottom: -30px;
}

.btn-edit{
  position: relative;
  top: 5px;
}

.btn-delete{
  margin-right: -100px;
}

main > a{
  text-decoration: none;
  color: #fff;
}

article > p{
  position: relative;
  bottom: 20px;
  width: 50%;
}

.flex-note > p{
  position: relative;
  bottom: 20px;
}

.delete > a{
  text-decoration: none;
  color: white;
}

main > ul > li{
  width: 100%;
  padding: 15px;
  display: block;
  word-wrap: break-word;
}

main > ul > li > article >  h3 > .delete {
  width: 80%;
}


/* MAIN */


/* ERROR */

.error {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background: linear-gradient(to bottom, #1d1d1d, #4e4b00);
  color: #fff;
  padding-top: 0;
}

.error h1 {
  margin-top: 0;
}

.error-code {
  text-transform: uppercase;
  font-size: 160px;
  margin-bottom: 20px;
}

/* ERROR */


/* NEW NOTE */


.add-note {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form{
  width: 300px;
  margin: 30px 25px 15px 25px;
  border: 4px solid #ffff42;
  border-radius: 15px;
  padding: 15px;
  background-color: #212529;
  color:#fff
}

.form-text{
  margin-bottom: 20px;
}

.form-title > label{
  color: #fff;
  font-size: 20px;
  margin-bottom: 7px;
}

.form-text > label{
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.form-title{
  display: flex;
  flex-direction: column;
}

.form-button{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.form-button > button{
  background-color: #ffff42;
  border-radius: 15px ;
  color: #212529;
}

/* NEW NOTE */

/* Addings to note */

.note{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.note > .flex-note > .delete{
  max-width: 80%;
}

/* Addings to note */


/* Addings to new note */

.add-note{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.add-note > form{
  width: 60%;
}

/* Addings to new note */

.note > .flex-note > .delete > .btn-edit{
  width: 100px;
  height: 100px;
}

main > ul > li article > .date{
  color: #fff;
  align-self: end;
}


/* MEADIA QUERIES */
@media (min-width: 2260px) {
  .header{
    display: grid;
    height: 190px;
    font-size: 32px;
  }
  .logo{
    position:absolute;
    right: 150%;
  }
  .gap{
    gap: 120px;
  }
  .hrefs{
    position: relative;
    top: 60px;
    left: 30%;
    border-left: 20% solid rgba(0,0,0,0);
  }
  .note{
    margin-top: -150px;
    font-size: 26px;
    display: flex;
    justify-content: center; 
  }
  .note > .flex-note{
    width: 33%;
  }
  .add-note > .form-group{
    height: 105%;
  }
  .add-note > form{
    width: 25%;
  }
  main{
    margin-top: -150px;
    font-size: 26px;
    display: flex;
    justify-content: center; 
  }
  main > ul{
    width: 33%;
  }
}


@media (min-width: 1472px) and (max-width: 2259px){
  .container{
    display: grid;
    height: 80px;
  }
  .logo{
    position:absolute;
    right: 80%;
  }
  .header{
    display: grid;
    height: 110px;
    font-size: 20px;
  }
  .gap{
    gap: 100px; 
  }
  .hrefs{
    position: relative;
    top: 90%;
    border-left: 20% solid rgba(0,0,0,0);
  }
  main{
    margin-top: -100px;
  }
  main{
    font-size: 26px;
    display: flex;
    justify-content: center; 
  }
  .note{
    margin-top: -100px;
    font-size: 26px;
    display: flex;
    justify-content: center; 
  }
  .note > .flex-note{
    width: 60%;
  }
  main > ul{
    width: 40%;
  }
  .add-note > form{
    width: 40%;
  }
}

@media (min-width: 1920px) and (max-width: 2259px){
  main > ul{
    width: 45%;
  }
  .note > .flex-note{
    width: 45%;
  } 
  .add-note > form{
    width: 30%;
  }
}


@media (min-width: 1260px) and (max-width: 1472px){
  .container{
    display: grid;
    height: 80px;
  }
  .logo{
    position:absolute;
    right: 80%;
  }
  .header{
    display: grid;
    height: 110px;
    font-size: 20px;
  }
  .gap{
    gap: 100px; 
  }
  .hrefs{
    position: relative;
    top: 70%;
    border-left: 20% solid rgba(0,0,0,0);
  }
  main{
    margin-top: -100px;
  }
  main{
    font-size: 22px;
    display: flex;
    justify-content: center; 
  }
  .note{
    margin-top: -100px;
    font-size: 22px;
    display: flex;
    justify-content: center; 
  }
  .note > .flex-note{
    width: 60%;
  }
  main > ul > li > article > p{
    margin-top: 15px;
  }
  .delete > button{
    margin-top: 20px;
  }
  .add-note > .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
  }
  .add-note > form{
    width: 25%;
  }
}

@media (min-width: 1024px) and (max-width: 1324px){
  .container{
    display: grid;
    height: 80px;
  }
  .logo{
    position:absolute;
    right: 80%;
  }
  .header{
    display: grid;
    height: 110px;
    font-size: 20px;
  }
  .gap{
    gap: 100px; 
  }
  .hrefs{
    position: relative;
    top: 70%;
    border-left: 20% solid rgba(0,0,0,0);
  }
  main{
    margin-top: -100px;
  }
  main{
    font-size: 22px;
    display: flex;
    justify-content: center; 
  }
  .note{
    margin-top: -100px;
    font-size: 22px;
    display: flex;
    justify-content: center; 
  }
  .note > .flex-note{
    width: 60%;
  }
  .add-note > .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
  }
  .add-note > form{
    width: 25%;
  }
}

@media (min-width:768px) and (max-width: 1024px){
  .container{
    height: 130px;
  }
  .gap{
    gap: 100px;
  }
  .logo{
    position: relative;
    left:10%;
  }
  .hrefs{
    position: relative;
    top: 10px;
    left: 10%;
  }
  main{
    margin-top: -150px;
  }

  main{
    font-size: 20px;
    display: flex;
    justify-content: center; 
  }
  .note{
    margin-top: -150px;
    font-size: 20px;
    display: flex;
    justify-content: center; 
  }
  .note > .flex-note{
    width: 60%;
  }
  .add-note > .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  .add-note > form{
    width: 40%;
  }
}  

@media (min-width: 600px) and (max-width: 768px){
  .container{
    display: grid;
    height: 80px;
  }
  .logo{
    position:absolute;
    right: 80%;
  }
  .header{
    display: grid;
    height: 110px;
    font-size: 18px;
  }
  .gap{
    gap: 60px; 
  }
  .hrefs{
    position: relative;
    top: 40%;
    left: 60px;
    border-left: 20% solid rgba(0,0,0,0);
  }
  main{
    font-size: 16px;
    display: flex;
    justify-content: center; 
  }
  .note{
    font-size: 16px;
    display: flex;
    justify-content: center; 
  }
  .note > .flex-note{
    width: 60%;
  }
  .add-note > .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .add-note > form{
    width: 50%;
  }
}  

@media (max-width: 599px){
  main > ul{
    width: 97%;
  }
  .note > .flex-note{
    width: 97%;
  }
  .add-note > .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .add-note > form{
    width: 97%;
  }
  .add-note > .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
  }
  .add-note > form{
    width: 70%;
  }
}

@media(orientation: portrait){
  .flex-note{
    min-height: 200px;
  }
}

@media(orientation: landscape) and (min-width: 666px) and (max-width: 668px){
  .flex-note{
    min-height: 200px;
    margin-top: 100px;
  }
  main > ul{
    margin-top: 50px;
  }
  .note > .flex-note{
    margin-top: 50px;
  }
  
}

@media (max-height: 446px) and (orientation: landscape){
  .container{
    display: grid;
    height: 20px;
  }
  .header{
    display: grid;
    height: 50px;
    font-size: 12px;
  }
  .logo{
    position: relative;
    right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .gap{
    gap: 15px; 
  }
  .hrefs{
    position: relative;
    top: -8px;
    border-left: 20% solid rgba(0,0,0,0);
  }
  footer{
    word-wrap: nowrap;
    height: 30px;
    font-size: 14px;
  }
  .add-note > .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97%;
  }
  .add-note > form{
    width: 97%;
  }
}

@media (max-width:350px) and (orientation: portrait) {
  .note{
    margin-top: -5%; 
  }
  
}


@media (min-width: 267px) and (max-width: 348px){
  .container{
    height: 250px;
  }
  main > ul > li article > .date{
  color: #fff;
  align-self: end;
  }
}  

@media (max-width: 267px){
  .container{
    height: 350px;
  }
  .note{
    margin-top: 30%; 
  }
}